.card__reviews {
    height: 150px;
    width: 100%;
    transition: all 0.2s ease-in-out;
    padding: 0 30px 0 30px;
}

.card__reviews:hover {
    transform: translateY(-5px);
    border-bottom: 5px solid #bebebe;
}
.card__content {
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.card__content__top {
    gap: 20px;
}

.card__content__bottom {
    width: 100%;
    justify-content: left;
    align-items: center;
}

.about__user{
    align-items: start;
    text-align: center;
    justify-content: start;
    flex-direction: column;
}

.image__user {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #dbeafe;
}
