.swiper-container {
    width: 1000px;
    height: 200px;
}

.swiper-wrapper {
    flex-direction: row;
}

.swiper-slide {
    width: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.swiper-button-next .swiper-rtl .swiper-button-prev {
    right: 140px !important;
    left: auto;
}

.swiper-button-prev .swiper-rtl .swiper-button-next {
    left: 140px !important;
    right: auto;
}