@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.map {
  padding: 80px 0;
  background: v.$white;

  @include m.responsive(mobile) {
    padding: 50px 0;
  }

  &__header {
    text-align: center;
    margin-bottom: 48px;
  }

  &__badge {
    display: inline-block;
    background: rgba(v.$primary, 0.1);
    color: v.$primary;
    padding: 6px 16px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  &__time {
        display: flex;
        flex-direction: column;
    }

  &__title {
    font-size: 40px;
    font-weight: 800;
    color: v.$secondary;

    @include m.responsive(mobile) {
      font-size: 28px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 40px;

    @include m.responsive(tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    @include m.responsive(mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__contact {
    display: flex;
    gap: 12px;
    padding: 16px;
    background: v.$light-gray;
    border-radius: 12px;
    align-items: flex-start;

    h4 {
      font-size: 14px;
      color: v.$text-secondary;
      font-weight: 500;
      margin-bottom: 4px;
    }

    p {
      font-size: 16px;
      font-weight: 600;
      color: v.$secondary;
    }

    div {
        display: flex;
        flex-direction: column;
    }
  }

  &__contactIcon {
    font-size: 24px;
    flex-shrink: 0;
  }

  &__phone, &__email {
    font-size: 16px;
    font-weight: 600;
    color: v.$secondary;
    transition: color v.$transition-fast;
    text-decoration: none;

    &:hover {
      color: v.$primary;
    }
  }


  &__form {
    background: v.$light-gray;
    padding: 30px;
    border-radius: 20px;
  }

  &__formTitle {
    font-size: 20px;
    font-weight: 700;
    color: v.$secondary;
    margin-bottom: 20px;
  }

  &__wrapper {
    border-radius: 20px;
    overflow: hidden;
    height: 600px;
    box-shadow: v.$shadow-lg;
    align-self: center;
  }

  &__iframe {
    width: 100%;
    border: none;
    height: 100%;

    @include m.responsive(mobile) {
      height: 300px;
    }
  }
}